.rootPane {
    -fx-font-size: 12px;
    -fx-font-family: 'Lucida Sans Typewriter';
}

.subtitle {
    -fx-font-size: 20px;
}
.subsubtitle {
	-fx-font-size: 18px;
}

.headerKey {
	-fx-font-weight: bold;
}
